scripts/test.py
app.log
data/*
logs/*
!.gitkeep
__pycache__
setup.py
requirements.txt
elt_pipeline.egg-info
example_bitcoin
all_assets
one_asset
tables-dim-fact.txt
visualization/dashboard.py

.env
